<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="src/client/img/favicon/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="src/client/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="src/client/img/favicon/favicon-16x16.png">
        <title>Newscheck</title>
    </head>

    <body>

        <header class="header">
            <div class="logo">
                <a href="#">
                    <img id="logo" src='src/client/img/newscheck-logo.png' alt="Newscheck logo">
                    <!-- "/src/client/img/newscheck-logo.png" -->
                </a>
            </div>
            <div class="header-menu">
                <ul class="header-menu-list">
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>Contact</li></a>
                </ul>
            </div>
        </header>

        <main>
            <section class="form">
                <form class="formClass" onsubmit="return Client.handleSubmit(event)">
                    <input class="formInput" id="name" type="text" name="input" value="" placeholder="Please paste a URL">
                    <input class="formInput" id="nameButton" type="submit" name="" value="SUBMIT" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="resultSec">
                <div class="result-title">Evaluation</div>
                <div class="result-sub-title">
                    <h3>Polarity</h3>
                    <div class="cropped-img">
                        <img id="pol-image" src="src/client/img/Group8.png" alt="">
                    </div>
                </div>
                <div id="polarity">
                    Neutral
                </div>
                <span class="conf-measure">Confidence level: <span id="polarity-conf"></span>%</span>
                <div class="result-sub-title">
                    <h3>Subjectivity</h3>
                    <div class="cropped-img">
                        <img id="sub-image" src="src/client/img/Group7.png" alt="">
                    </div>
                </div>
                <div id="subjectivity">
                    Neutral
                </div>
                <span class="conf-measure">Confidence level: <span id="subjectivity-conf"></span>%</span>
            </section>
        </main>

        <footer class="footer">
            <p>© NEWSCHECK 2020</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {             
                    navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
                        // Registration was successful
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, function(error) {
                        // registration failed :(
                        console.log('ServiceWorker registration failed: ', error);
                     });
                }); 
            };
        </script>
    </body>
</html>
