.footer {
    height: 100px;
    background-color: #0E5897;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Fjalla One', sans-serif;
}