.formClass {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    display: block;
}

.formInput {
    padding: 5px 20px;
    width: 100%;
    line-height: 20px;
    margin: 10px 0;
}

#nameButton {
    width: 100px;
    border-radius: 16px;
    font-size: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    outline: 0;
    border: 1px solid #0E5897;
    background-color: #0E5897;
}

#nameButton:active {
    outline: 0;
}

#nameButton:hover {
    cursor: pointer;
    background-color: white;
    color: #0E5897;
}