.formClass {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    display: block;
}

.formInput {
    padding: 5px 20px;
    width: 100%;
    line-height: 20px;
    margin: 10px 0;
}

#nameButton {
    width: 100px;
    border-radius: 16px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    outline: 0;
    background-color: rgb(28, 64, 184);
}

#nameButton:active {
    outline: 0;
}